header {
  color: white;
  text-align: center;
}

.hot-ads {
  background-color: white;
}

.hot-ads-title {
  text-transform: uppercase;
  color: var(--color2);
}

.hot-ads-image {
  height: 500px;
  width: 400px;
}