header {
  color: white;
  text-align: center;
}

.hot-ads {
  background-color: white;
  display: flex;
  align-items: center;
}

.hot-ads-title {
  text-transform: uppercase;
  color: var(--color2);
}

.hot-ads-image {
  height: 500px;
  width: 400px;
}

.hot-ads-content {
  display: flex;
}

.hot-ads-desc-subject {
  color: var(--color1);
}